// Body
//$body-bg: #262626;
//$body-color: #c3c3c3;

body{
  background-color: #262626 !important;
}

// Typography
@font-face {
  font-family: 'Mytupi';
  src: url('/resources/fonts/mytupi.ttf') format('truetype');
}
@font-face {
  font-family: 'Mytupi Bold';
  src: url('/resources/fonts/mytupiBOLD.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Mytupi Inpacto';
  src: url('/resources/fonts/mytupiIMPACTO.ttf') format('truetype');
}
$font-family-sans-serif: 'Mytupi', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #f49a21 !default;
$body-color: #606060 !default;